.one{
    height: 200px;
    background-color: #bb141e;
    float: left;
    width: 50%;
    color: black;
    font-size: 50 ;
    text-align: center;
}

.two{
    height: 200px;
    background-color:black ;
    float: right;
    width: 50%;
    color: #bb141e;
    font-size: 50 ;
    text-align: center;
}

.three{
    height: 200;
    background-color: black;
    float: left;
    width: 50%;
    color: #bb141e;
    font-size: 50 ;
    text-align: center;
}

.four{
    height: 200;
    width:200;
    background-color: #bb141e;
    float: right;
    width: 50%;
    color: black;
    font-size: 50 ;
    text-align: center;
}


.one:hover{
    transform: scale(1.2)
}

.two:hover{
    transform: scale(1.2)
}

.three:hover{
    transform: scale(1.2)
}

.four:hover{
    transform: scale(1.2)
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color:#bb141e;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
}
.navbar a:hover {
    background-color: #575757;
}

.logos{
    float:right;
}
.main{
    background-image: url("https://assets.skyfilabs.com/images/blog/6_tips_to_setup_robotics_club_in_your_college.jpg");
    height:400;
}

.info{
    height:300;
    margin-top: 100;
}

.photo{
    float:left;
}

.button{
    height:50px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:80%; 
    left:85%;
    color: black;
    background-color:#bb141e;

}
